@import url('https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap');

h1, h2 {
    font-family: Poppins, sans-serif;
}

label, li, p, a, th, td, input, textarea, span {
    font-family: Rubik, sans-serif;
}

a {
    text-decoration: none;
}